{
  "extends": ["@mi/eslint-config-mcfe-react-app", "prettier", "prettier/react"],
  "plugins": ["prettier"],
  "parser": "babel-eslint",
  "rules": {
    "prettier/prettier": "error"
  },
  "globals": {
    "__DEV__": true
  }
}
